@namespace Blockchain.Shared

<div class="bg-slate-900  md:p-12 overflow-hidden p-4 w-screen" id="background">
    <div class="invisible max-w-7xl md:visible mx-auto" id="visibility flex flex-row">
        <div class="flex flex-row justify-between">
            <section class=" basis-1/2 border-4 border-b-4 border-double border-green-600 grid grid-cols-7 w-full" @onkeydown="KeyDown" @ref="gameBoardDiv" tabindex="0">
                @for (var i = 0; i < Cells.GetLength(0); i++)
                {
                    if (CurrentLink?.Column == i && CurrentLink?.Row == 7)
                    {
                        <ChainLink Number="CurrentLink.Number" Scored="false" StagingRow="true"/>
                    }
                    else
                    {
                        <ChainLink Scored="false" StagingRow="true"/>
                    }
                }

                @* Loop through rows top to bottom [row, column] *@
                @for (var j = 0; j <= Cells.GetUpperBound(1); j++)
                {
                    <div>
                        @for (var i = Cells.GetLength(0) - 1; i >= 0; i--)
                            @* Loop through columns left to right *@
                        {
                            <ChainLink Number="@Cells[i, j]?.Number" Scored="@Cells[i, j]?.Scored" StagingRow="false"/>
                        }
                    </div>
                }
            </section>

            <section class="basis-1/2 flex flex-col lg:px-10 px-4 w-full">
                @if (GameState == GameState.GameOver)
                {
                    <Display Text="Game Over"/>
                }

                <ScoreKeeper GameState="@GameState" @ref="scoreKeeper"/>

                @if (GameState == GameState.Started)
                {
                    var currentLinkText = $"Current Link: {CurrentLink?.DisplayNumber}";
                    <Display Text="@currentLinkText"/>

                    var nextLinkText = $"Next Link: {NextNumber}";
                    <Display Text="@nextLinkText"/>
                }

                @if (GameState is GameState.NotStarted or GameState.GameOver)
                {
                    <button class="border-4 border-double border-green-600 box-border cursor-pointer font-mono lg:text-2xl p-4 sm:text-xl text-green-500 w-full" @onclick="Start">
                        Start Game
                    </button>
                }
            </section>
        </div>
    </div>
</div>